* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  padding-top: 60px;
}
:root {
  --top-bar-bg-color: #ffff;
  --top-bar-txt-color: #1a1a1a;
  --btn-bg-color: #2563eb;
  --btn-txt-color: #ffffff;
  --sec-bg: #f9fafb;
}
body.dark {
  --top-bar-bg-color: #0f172a;
  --top-bar-txt-color: #e2e8f0;
  --btn-bg-color: #38bdf8;
  --btn-txt-color: #0f172a;
  --sec-bg: #1e293b;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2rem;
  background: var(--top-bar-bg-color);
  color: var(--top-bar-txt-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.logo .logo-img img {
  width: auto;
  height: 50px;
  object-fit: contain;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: var(--top-bar-txt-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a.active-link {
  color: var(--btn-bg-color);
  font-weight: 700;
}
.nav-links a:hover {
  color: var(--btn-bg-color);
}
.menu-toggle {
  display: none;
}
.top-right-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.eye-care {
  cursor: pointer;
  background: var(--btn-bg-color);
  color: var(--btn-txt-color);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.4s all ease;
}
.eye-care:hover {
  background: #3a9bdc;
}
.eye-care-btn {
  background: var(--btn-bg-color);
  width: 120px;
  flex-direction: column;
  position: absolute;
  padding: 0.5rem;
  border-radius: 6px;
  top: 60px;
  right: 20px;
  color: var(--btn-txt-color);
  cursor: pointer;
  transition: 0.2s all ease;
  display: none;
}
.eye-care-btn span {
  margin: 10px 0;
  color: var(--btn-txt-color);
  cursor: pointer;
  transition: 0.3s all ease;
}
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--top-bar-txt-color);
}
.menu-toggle i:hover {
  box-shadow: 1px solid saddlebrown;
  box-shadow: 0 1px 2px rgba(#fff, #ccc, #ecc, 0.1);
}
/* animation for all section */

section.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}
section.entry {
  opacity: 1;
  transform: translateY(0);
}

/*hero section style*/

.hero {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
  background: url("/img/logo.png") no-repeat center center/cover;
  color: var(--btn-txt-color);
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}
.hero-content {
  max-width: 600px;
  text-align: center;
  position: relative;
  width: 100%;
}
.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
.hero-content p {
  max-width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--top-bar-txt-color);
}
.btn-primary {
  background: var(--btn-bg-color);
  color: var(--btn-txt-color);
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}
.btn-primary:hover {
  background: #3a9bdc;
  cursor: pointer;
}
.about-section {
  margin-top: 0.2rem;
}

/* about section styles */
.about-section {
  padding: 80px 20px;
  background: var(--sec-bg);
  text-align: center;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.about-container .about-image img {
  max-width: 100%;
  border-radius: 1px;
  height: auto;
}
.about-content {
  max-width: 1000px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-left: 2.5rem;
}
.about-content h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--btn-bg-color);
}

.about-content p {
  text-align: center;
  line-height: 2;
  font-size: 1rem;
  font-weight: 600;
  color: var(--top-bar-txt-color);
}
.about-highlight {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.about-highlight .highlight {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.highlight i {
  font-size: 2rem;
}
.highlight:nth-child(1) {
  color: #efc123;
}
.highlight:nth-child(2) {
  color: brown;
}
.highlight:nth-child(3) {
  color: rebeccapurple;
}
.highlight span {
  color: var(--btn-bg-color);
  font-size: 1.5rem;
}

.stats-section {
  padding: 80px 20px;
  background: #f4f5f6;
}
.stats-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}
.stats-box {
  flex: 1 1 250px;
  text-align: center;
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.stats-box:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.stats-box i {
  font-size: 2.5rem;
  color: var(--btn-bg-color);
  margin-bottom: 1rem;
}
.stats-box h2 {
  font-size: 2rem;
  color: #333;
  margin: 0.8rem 0;
}
.stats-box p {
  font-size: 1.2rem;
  color: #555;
}

/* course section starts */
.course-section {
  background: #f4f5f6;
  padding: 80px 20px;
}
.Course-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: #333;
}
.section-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2.5rem;
}
.Course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.course-card {
  background: #fff;
  padding: 2rem;
  border-radius: 0.9rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.course-card i {
  font-size: 2.5rem;
  color: var(--btn-bg-color);
  margin-bottom: 15px;
}
.course-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #222;
}
.course-card p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}
.btn-secondary {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  background: var(--btn-bg-color);
  color: var(--btn-txt-color);
  border-radius: 6px;
  transition: background 0.3s ease;
}
.btn-secondary:hover {
  background: #005fa3;
}

/* //teacher section stylk starts */
.teacher-section {
  background: #f7f8f8;
  padding: 80px 20px;
}
.teacher-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.teacher-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.teacher-card {
  perspective: 1000px;
  cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 280px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.teacher-card:hover .card-inner {
  transform: rotateY(180deg);
}
.teacher-card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  overflow: hidden;
}
.card-front {
  background: var(--top-bar-bg-color);
  text-align: center;
}
.card-front img {
  width: 100%;
  height: 200px;
  margin: auto;
  object-fit: cover;
}
.card-front h2 {
  margin: 15px 0 5px;
  color: var(--btn-bg-color);
}
.card-front p {
  color: var(--sec-bg);
}
.card-back {
  transform: rotateY(180deg);
  background: var(--btn-bg-color);
  color: var(--btn-txt-color);
  padding: 20px;
  text-align: left;
}
.card-back h2 {
  margin-bottom: 10px;
}
.card-back p {
  font-size: 0.95rem;
  line-height: 1.5;
}
.teacher-socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.teacher-socials a {
  text-decoration: none;
  color: var(--top-bar-bg-color);
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
.teacher-socials a:hover {
  color: var(--top-bar-bg-color);
}

/* students section starts */

.student-section {
  padding: 80px 20px;
  background: #f8f1f3;
  position: relative;
}
.student-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.student-carousel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}
.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}
.student-card {
  flex: 0 0 100%;
  max-width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  width: 100%;
  overflow: hidden;
}
.student-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.student-card h2 {
  margin: 15px 0 5px;
  color: var(--btn-bg-color);
}
.student-card p {
  color: var(--top-bar-txt-color);
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.student-card blockquote {
  font-style: italic;
  color: var(--btn-bg-color);
  font-size: 0.95rem;
}
blockquote i {
  color: var(--btn-bg-color);
  font-size: 1.5rem;
  margin-right: 8px;
}
.carousal-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0077cc;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.carousal-btn.prev {
  left: 30px;
}
.carousal-btn.next {
  right: 30px;
}
.carousal-btn:hover {
  background: #005fa3;
}
/* contact section */
.contact-section {
  padding: 80px 20px;
  background: var(--sec-bg);
}
.contact-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact-grid {
  display: grid;
  grid-gap: 30px;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
}
.contact-grid form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 12px;
}
.contact-form .contact-title {
  margin-bottom: 15px;
  color: var(--btn-bg-color);
}
.contact-form textarea {
  resize: none;
}
.contact-form .btn-secondary {
  border: none;
  outline: none;
}
.contact-info {
  text-align: left;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-info h2 {
  margin-bottom: 1rem;
  color: var(--btn-bg-color);
}
.contact-info p {
  margin: 0.5rem 0;
  color: var(--top-bar-txt-color);
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.contact-info p i {
  color: var(--btn-bg-color);
}
.contact-socials {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}
.contact-socials a {
  font-size: 1.5rem;
  color: var(--btn-bg-color);
  transition: color 0.3s ease;
  font-size: 1.8rem;
}
.contact-socials a:hover {
  color: var(--top-bar-txt-color);
}
/* footer section starts */

.footer-section h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
  color: var(--btn-bg-color);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background: var(--sec-bg);
  padding: 80px 20px 30px;
  color: var(--top-bar-txt-color);
}
.footer-content-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.footer-content-info p {
  color: var(--top-bar-txt-color);
  font-size: 0.8rem;
}
.footer-nav .nav-links {
  display: flex;
  flex-direction: column;
}
.footer-nav ul li {
  list-style: none;
}
.footer-nav ul a {
  margin-bottom: 8px;
  text-decoration: none;
  color: var(--btn-bg-color);
  transition: 0.5s all ease;
}
.footer-nav ul a:hover {
  color: var(--top-bar-txt-color);
  margin-left: 8px;
}
.footer-section .day {
  text-align: center;
  padding: 20px;
}
